/* Estilo para las imágenes en Matchs */
.matches-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 150px); /* 2 columnas */
  column-gap: 50px; /* Espacio horizontal entre columnas */
  row-gap: 30px; /* Espacio vertical entre filas */
  justify-content: start; /* Alinea al inicio horizontalmente */
}

.match-image {
  margin-top: 100px;
}

.match-image img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10%;
}

/* Estilo del nombre similar al de Home */
.dog-info {
  position: absolute;
  bottom: 5px; /* Posiciona el texto cerca del borde inferior */
  left: 5px; /* Un poco de margen a la izquierda */
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
  color: white; /* Color del texto en blanco */
  padding: 2px 5px; /* Un poco de espacio interno */
  border-radius: 5px; /* Bordes redondeados */
  font-size: 12px; /* Tamaño de fuente más pequeño que en el componente Home */
}
