.Principal{
    background-color: var(--white, #fff);
    display: flex;
    max-width: 480px;
    width: 100%;
    flex-direction: column;
    color: var(--black, #000);
    font-weight: 800;
    white-space: nowrap;
    margin: 0 auto;
    padding: 52px 0 80px;
  }

  .Perros{
    font-family: ES Peak TRIAL, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .Perros h1{
    font-size: 50px;
  }

  .div2{
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 1px;
    background-color: #000;
    min-height: 1px;
    margin-top: 54px;
    width: 100%;
  }
  