.container-mensajes {
  display: flex;
  box-sizing: border-box;
  height: calc(
    100vh - 120px
  ); /* Altura total menos el espacio para el footer y navbar */
  margin-bottom: 20px; /* Espacio entre el footer y el navbar */
  padding-bottom: 20px; /* Espacio adicional para el footer */
  margin-top: 60px; /* Ajusta esto para dejar espacio para el navbar */
}
.left-column-mensajes,
.right-column-mensajes {
  background-color: #ffe6a7; /* Este es el color clarito que has estado usando */
}

.left-column-mensajes {
  width: 25%;
  background-color: #ffe6a7;
  padding: 10px;
  overflow-y: auto;
  flex: 1;
}

.match-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.match-item:hover {
  background-color: #cfd8dc;
  
}

.match-item.active {
  background-color: #deb887;
}

.messages-match-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.match-info {
  display: flex;
  flex-direction: column;
}

.match-info h3 {
  margin: 0;
  font-size: 1rem;
}

.match-info p {
  margin: 0;
  font-size: 0.9rem;
}

.match-info small {
  color: #666;
}

/* Columna central - Chat */
.center-column-mensajes {
  width: 50%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Asegúrate de que el contenido se alinee correctamente */
  padding: 10px;
}
.select-chat-text {
  align-self: center;
}

.chat-section {
  flex-grow: 1; /* Permite que el chat ocupe el espacio restante */
  display: flex;
  flex-direction: column;
}

.chat-history {
  flex-grow: 1; /* Ocupa todo el espacio disponible */
  overflow-y: auto;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.chat-message {
  margin: 5px 0;
  padding: 10px;
  border-radius: 15px; /* Bordes redondeados */
  max-width: 75%; /* Tamaño máximo para que no se desborden */
  background-color: #ffe6a7; /* Fondo claro */
  color: black; /* Color de texto negro */
  display: inline-block;
  position: relative;
  word-wrap: break-word;
}

/* Estilo para el mensaje enviado por el usuario */
.my-message {
  background-color: #ffe6a7; /* Color claro para los mensajes del usuario */
  border-radius: 15px 15px 0 15px; /* Solo el borde superior e izquierdo con bordes redondeados */
  align-self: flex-end; /* Alinea el mensaje a la derecha */
}

.other-message {
  background-color: #ffe6a7; /* Color más oscuro para los mensajes recibidos */
  border-radius: 15px 15px 15px 0; /* Solo el borde superior y derecho con bordes redondeados */
  align-self: flex-start; /* Alinea el mensaje a la izquierda */
}

.chat-input-section {
  display: flex;
  margin-top: 10px; /* Espacio entre el historial de chat y la barra de entrada */
}

.chat-input {
  flex: 1; /* Ocupa todo el espacio disponible */
  border: 1px solid #ccc; /* Bordes */
  border-radius: 20px; /* Hacer la barra de entrada más redonda */
  padding: 10px; /* Espaciado interno */
  margin-right: 10px; /* Espacio entre el input y el botón */
}

.send-button {
  border: none; /* Sin bordes */
  border-radius: 20px; /* Hacer el botón más redondo */
  background-color: #5b3a3a; /* Color marrón oscuro */
  color: white; /* Color blanco para el texto */
  padding: 10px 20px; /* Espaciado interno */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.2s ease-in-out;
}
.send-button:hover {
  background-color: #743a3a; /* Color más claro para el hover */
}

/* Columna derecha - Info del usuario */
.right-column-mensajes {
  width: 25%;
  background-color: #ffe6a7;
  padding: 10px;
  box-sizing: border-box;
}

.user-info-section {
  text-align: center;
}

.image-container {
  /* Necesario para que los elementos dentro se posicionen correctamente */
  display: inline-block;

  width: 250px;
  height: 460px;
  overflow: hidden;
  position: relative;
}

.user-image {
  width: 100%; /* La imagen ocupará todo el ancho del contenedor */
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
  object-position: center;
}

/* Degradado en la parte inferior de la imagen */
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 25%; /* Ajusta la altura del degradado */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  z-index: 1; /* Coloca el degradado debajo del texto */
  border-radius: 0 0 10px 10px; /* Asegúrate de que el degradado siga el borde redondeado de la imagen */
}

/* Estilo para el nombre del usuario dentro de la imagen */
.overlay-username {
  position: absolute;
  bottom: 10px; /* Ajusta la posición del texto */
  left: 30px;
  transform: translateX(-50%);
  color: white;
  font-size: 1.2rem;
  z-index: 2; /* Coloca el nombre por encima del degradado */
}

.user-info-section h3 {
  margin: 10px 0;
}

.user-info-section p {
  color: #666;
}

/* Contenedor de la mascota */
.pet-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%; /* Ocupa el 30% del ancho del contenedor principal */
  height: 40%; /* Asegura que también ocupe el 30% en altura */
  border-radius: 15px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que la imagen de la mascota no se desborde */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para resaltar */
}

/* Imagen de la mascota */
.pet-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin distorsión */
}

/* Nombre de la mascota sobre la imagen */
.overlay-petname {
  position: absolute;
  bottom: 5px; /* Ajusta la posición desde abajo */
  left: 0px; /* Ajusta la posición desde la izquierda */
  color: white;
  font-size: 1rem;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Fondo semitransparente para visibilidad */
  padding: 3px 8px;
  border-radius: 10px;
  z-index: 2; /* Asegúrate de que el nombre esté encima de la imagen */
}

@media (max-width: 900px) {
  .left-column-mensajes,
  .right-column-mensajes {
    display: none; /* Ocultar columnas izquierda y derecha */
  }

  .center-column-mensajes {
    width: 100%; /* El chat ocupará todo el ancho */
  }

  .header-mobile {
    display: flex; /* Mostrar barra superior con la imagen y nombre del usuario */
  }
}
