body {
  margin: 0;
  line-height: normal;
  background-color: #73648a;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-es-peak-trial: "ES Peak TRIAL";

  /* font sizes */
  --font-size-base: 16px;
  --font-size-16xl: 35px;

  /* Colors */
  --color-navajowhite: #ffe6a7;
  --color-gainsboro: #d9d9d9;
  --black: #000;
  --color-8: #73648a;
  --white: #fff;

  /* Paddings */
  --padding-3xs: 10px;
  --padding-23xl: 42px;

  /* Border radiuses */
  --br-mini: 15px;
  --br-5xs: 8px;
}

.tinder-1-icon1 {
  width: 142px;
  position: relative;
  height: 58px;
  object-fit: cover;
}
.frame-icon,
.frame-icon1 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-icon {
  width: 45px;
  height: 42px;
  cursor: pointer;
}
.frame-icon1 {
  width: 40.3px;
  height: 30.2px;
}
.frame-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: #f80e0e;
}
.div {
  position: absolute;
  top: 7.69%;
  left: 276.92%;
  font-weight: 500;
}
.ellipse-parent {
  width: 13px;
  position: relative;
  height: 13px;
  margin-left: -6px;
}
.basilchat-solid {
  height: 42px;
  width: 45px;
  background-color: #73648a;
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-start;
  justify-content: flex-end;
}

.basilchat-solid,
.frame3,
.tinder-1-parent {
  display: flex;
  flex-direction: row;
}
.frame3 {
  width: 105px;
  height: 52px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}
.tinder-1-parent {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
.group-icon {
  width: 393px;
  position: relative;
  height: 613px;
  object-fit: cover;
}
.nombre {
  position: relative;
  font-weight: 800;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.descripcion {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.frame10,
.frame9 {
  width: 164px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.frame9 {
  width: 393px;
  align-items: flex-start;
}
.icbaseline-place-icon {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.mendoza {
  position: relative;
  font-weight: 500;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
}
.icbaseline-place-parent {
  width: 98px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 27px;
}
.frame11,
.frame12,
.frame8 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame12 {
  width: 153px;
  align-items: center;
  justify-content: center;
}
.frame11,
.frame8 {
  width: 393px;
}
.frame11 {
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-base);
}
.frame8 {
  align-items: center;
  justify-content: flex-start;
}
.frame-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 213px;
  height: 32px;
  overflow: hidden;
}
.frame13,
.frame7 {
  width: 393px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  height: 32px;
}
.frame7 {
  height: 117px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin-top: -137px;
}
.group-child {
  position: absolute;
  top: 0;
  left: calc(50% - 44px);
  border-radius: 50%;
  background-color: var(--color-navajowhite);
  width: 88px;
  height: 88px;
}
.mdipets-icon {
  position: absolute;
  top: 8px;
  left: calc(50% - 31px);
  width: 62.7px;
  height: 66.3px;
  overflow: hidden;
}
.ellipse-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: calc(50% + 32.5px);
  width: 88px;
  height: 88px;
}
.frame17 {
  width: 241px;
  height: 88px;
  overflow: hidden;
}
.ellipse-div,
.frame16,
.frame17 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame16 {
  width: 393px;
  height: 88px;
  overflow: hidden;
}
.ellipse-div {
  border-radius: 50%;
  background-color: var(--color-navajowhite);
  width: 77px;
  height: 78px;
}
.frame19,
.vector-icon {
  position: absolute;
  overflow: hidden;
}
.vector-icon {
  height: 53.46%;
  width: 54.16%;
  top: 23.08%;
  right: 22.47%;
  bottom: 23.46%;
  left: 23.38%;
  max-width: 100%;
  max-height: 100%;
}
.frame19 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0px;
  left: 266px;
  width: 77px;
  height: 78px;
}
.frame-child1,
.frame18,
.frame20 {
  position: absolute;
  left: 0;
  height: 78px;
}
.frame18 {
  top: 0px;
  width: 393px;
  overflow: hidden;
}
.frame-child1,
.frame20 {
  top: 0;
  width: 285px;
}
.frame20 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 51px;
  width: 77px;
  height: 78px;
  overflow: hidden;
}
.frame15 {
  align-self: stretch;
  position: relative;
  height: 99px;
  overflow: hidden;
  flex-shrink: 0;
}
.frame14 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-top: -9px;
}
.frame14,
.frame5 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
}
.frame2,
.frame4,
.frame5 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.frame4 {
  width: 393px;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: -2px;
  font-size: var(--font-size-16xl);
}
.frame2 {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  background-color: #73648a;
}
.group-inner,
.group-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-navajowhite);
  width: 393px;
  height: 79px;
}
.group-inner {
  left: 272px;
  width: 81px;
}
.vector-icon1 {
  position: absolute;
  height: 81.21%;
  width: 62.59%;
  top: 12.59%;
  right: 18.62%;
  bottom: 6.21%;
  left: 18.79%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.heroiconsmap-pin-16-solid {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 282px;
  width: 58px;
  height: 58px;
  overflow: hidden;
  opacity: 0.5;
}
.rectangle-parent,
.vector-icon2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 393px;
  height: 79px;
}
.vector-icon2 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 6px;
  left: 175px;
  width: 57px;
  height: 58px;
}
.basiluser-solid,
.vector-icon3 {
  position: absolute;
  overflow: hidden;
}
.vector-icon3 {
  height: 68.64%;
  width: 64.56%;
  top: 15.59%;
  right: 17.72%;
  bottom: 15.76%;
  left: 17.72%;
  max-width: 100%;
  max-height: 100%;
}
.basiluser-solid {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 10px;
  left: 67px;
  width: 57px;
  height: 59px;
  opacity: 0.5;
}
.group-parent {
  align-self: stretch;
  position: relative;
  height: 79px;
}
.frameinicio,
.frameinicio1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frameinicio1 {
  align-self: stretch;
  background-color: var(--white);
  overflow: hidden;
  justify-content: flex-start;
  padding: 7px 0 1px;
  text-align: left;
  font-size: 7px;
  color: var(--white);
  font-family: var(--font-poppins);
}
.frameinicio {
  width: 100%;
  position: relative;
  justify-content: center;
  padding: 30px 0px 0px 0px;    /* para que no se tape con el NavBar*/
}
