.navbar {
  background-color: #3e3232;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  text-decoration: none;
  color: #f4f4f4;
}

.navbar-link:hover {
  text-decoration: underline;
}
body {
  margin-top: 60px;
}
