body {
  margin: 0;
  overflow-x: hidden;
  padding-bottom: 3em;
  min-height: 100vh;
}

.footer button {
  background-color: #743a3a; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Sin borde */
  padding: 10px 15px; /* Relleno interno del botón */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}



.footer {
  background: #743a3a;
  padding: 5px 0px;
  font-family: "Play", sans-serif;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.footer .content a {
  text-decoration: none;
  color: rgb(161, 161, 161);
  transition: 0.5s;
}

.footer .content a:hover {
  color: #fff;
}

.footer .content ul {
  width: 100%;
}

.footer .content ul li {
  display: inline-block;
  margin: 0px 30px;
}
